# SPDX-License-Identifier: GPL-2.0-only

menuconfig RTW88
	tristate "lwfinger's Realtek rtw88 backport support"
	depends on MAC80211
	help
	  This enables the Realtek rtw88 wireless driver family.

if RTW88

config RTW88_CORE
	tristate
	select WANT_DEV_COREDUMP

config RTW88_USB
	tristate
	depends on USB

config RTW88_PCI
	tristate
	depends on PCI

config RTW88_SDIO
	tristate
	depends on MMC

#
# RTL8703B
#

config RTW88_8703B
	tristate

config RTW88_8703BU
	tristate "Realtek RTL8703B USB wireless network adapter"
	depends on USB
	select RTW88_CORE
	select RTW88_USB
	select RTW88_8703B

#
# RTL8723D
#

config RTW88_8723D
	tristate

config RTW88_8723DE
	tristate "Realtek RTL8723D PCIe wireless network adapter"
	depends on PCI
	select RTW88_CORE
	select RTW88_PCI
	select RTW88_8723D

config RTW88_8723DS
	tristate "Realtek RTL8723D SDIO wireless network adapter"
	depends on MMC
	select RTW88_CORE
	select RTW88_SDIO
	select RTW88_8723D

config RTW88_8723DU
	tristate "Realtek RTL8723D USB wireless network adapter"
	depends on USB
	select RTW88_CORE
	select RTW88_USB
	select RTW88_8723D

config RTW88_8723CS
	tristate "Realtek RTL8723C SDIO wireless network adapter"
	depends on MMC
	select RTW88_CORE
	select RTW88_SDIO
	select RTW88_8723X

#
# RTL8723X
#

config RTW88_8723X
	tristate

#
# RTL8812A
#

config RTW88_8812A
	tristate

config RTW88_8812AE
	tristate "Realtek RTL8812A PCIe wireless network adapter"
	depends on PCI
	select RTW88_CORE
	select RTW88_PCI
	select RTW88_8812A

config RTW88_8812AU
	tristate "Realtek RTL8812A USB wireless network adapter"
	depends on USB
	select RTW88_CORE
	select RTW88_USB
	select RTW88_8812A

#
# RTL8814A
#

config RTW88_8814A
	tristate

config RTW88_8814AE
	tristate "Realtek RTL8814A PCIe wireless network adapter"
	depends on PCI
	select RTW88_CORE
	select RTW88_PCI
	select RTW88_8814A

config RTW88_8814AU
	tristate "Realtek RTL8814A USB wireless network adapter"
	depends on USB
	select RTW88_CORE
	select RTW88_USB
	select RTW88_8814A

#
# RTL8821A
#

config RTW88_8821A
	tristate

config RTW88_8821AE
	tristate "Realtek RTL8821A PCIe wireless network adapter"
	depends on PCI
	select RTW88_CORE
	select RTW88_PCI
	select RTW88_8821A

config RTW88_8821AU
	tristate "Realtek RTL8821A USB wireless network adapter"
	depends on USB
	select RTW88_CORE
	select RTW88_USB
	select RTW88_8821A

#
# RTL8821C
#

config RTW88_8821C
	tristate

config RTW88_8821CE
	tristate "Realtek RTL8821C PCIe wireless network adapter"
	depends on PCI
	select RTW88_CORE
	select RTW88_PCI
	select RTW88_8821C

config RTW88_8821CS
	tristate "Realtek RTL8821C SDIO wireless network adapter"
	depends on MMC
	select RTW88_CORE
	select RTW88_SDIO
	select RTW88_8821C

config RTW88_8821CU
	tristate "Realtek RTL8821C USB wireless network adapter"
	depends on USB
	select RTW88_CORE
	select RTW88_USB
	select RTW88_8821C

#
# RTL8822B
#

config RTW88_8822B
	tristate

config RTW88_8822BE
	tristate "Realtek RTL8822B PCIe wireless network adapter"
	depends on PCI
	select RTW88_CORE
	select RTW88_PCI
	select RTW88_8822B

config RTW88_8822BS
	tristate "Realtek RTL8822B SDIO wireless network adapter"
	depends on MMC
	select RTW88_CORE
	select RTW88_SDIO
	select RTW88_8822B

config RTW88_8822BU
	tristate "Realtek RTL8822B USB wireless network adapter"
	depends on USB
	select RTW88_CORE
	select RTW88_USB
	select RTW88_8822B

#
# RTL8822C
#

config RTW88_8822C
	tristate

config RTW88_8822CE
	tristate "Realtek RTL8822C PCIe wireless network adapter"
	depends on PCI
	select RTW88_CORE
	select RTW88_PCI
	select RTW88_8822C

config RTW88_8822CS
	tristate "Realtek RTL8822C SDIO wireless network adapter"
	depends on MMC
	select RTW88_CORE
	select RTW88_SDIO
	select RTW88_8822C

config RTW88_8822CU
	tristate "Realtek RTL8822C USB wireless network adapter"
	depends on USB
	select RTW88_CORE
	select RTW88_USB
	select RTW88_8822C

#
# Common features
#

config RTW88_LEDS
	bool "Realtek rtw88 LED support"
	depends on RTW88_CORE
	depends on LEDS_CLASS
	default y

config RTW88_DEBUG
	bool "Realtek rtw88 debug support"
	depends on RTW88_CORE
	default n

config RTW88_DEBUGFS
	bool "Realtek rtw88 debugfs support"
	depends on RTW88_CORE && DEBUG_FS
	default n

endif
